<% include ./partials/header %>
<section class="hero is-fullheight is-dark">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title is-2">
                <%= err.status %>
                <%= err.message %>
            </h1>

            <a href="/signIn" type="button" class="button is-rounded" style="margin-right: 20px">Sign In</a>
            <a href="/signUp" type="button" class="button is-rounded">Sign Up</a>
        </div>
    </div>
</section>
<% include ./partials/footer %>