html, body {
    min-width: 100%;
    min-height: 100%;
    height: 100%;
}
form .input {
    max-width: 350px;
}
h1.title, #result {
    margin-bottom: 50px!important;
}

.danger {
    color: red;
}
.success {
    color: green;
}
.info {
    color: lightblue;
}
.warning {
    color: yellow;
}

.is-rounded {
    border-radius: 100px;
}